# Backend (Flask)
Flask==2.2.5
Flask-MySQL==1.6.0
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.38
gunicorn==23.0.0

# Task Queue (Celery + Redis)
celery==5.2.7
redis==5.0.8
kombu==5.2.4
billiard==3.6.4.0
vine==5.1.0

# Frontend (Streamlit)
streamlit==1.42.1
pandas==2.2.3
numpy==2.0.2
pyarrow==19.0.1

# Utility Libraries
requests==2.31.0
pytz==2025.1
python-dateutil==2.9.0.post0
Werkzeug==2.2.3
